main {
  display: flex;
  gap: 3rem;
  margin: 0 3rem 10rem;
}

.mat-h2 {
  margin: 2rem 0;
  text-align: center;
}

/*
la forma que encontré es así pero no es muy resposive de mi parte

.carousel-item{
  height: 25rem;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

*/

/* Info product */
.container-info-product {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #2b2b2b46;
  border-radius: 1%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.container-price {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.container-price span {
  font-size: 24px;
  font-weight: bold;
}

.container-description,
.container-rating {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.title-description,
.title-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}

/* REVIEWS AND INFO */

.title-description h4,
.title-rating h4,
.user-review {
  font-weight: bold;
  font-size: 14px;
}

.text-description,
.stars-review {
  font-size: 13px;
  line-height: 22px;
  margin-top: 25px;
}

/* REVIEWS */

.container-reviews {
  margin: 0 3rem 5%;
}

.container-reviews mat-icon {
  position: relative;
  top: 7px;
}

.container-img-review img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 10px;
}

.container-info-review {
  order: 1;
  margin-right: 10px;
}

.container-reviews h3 {
  text-align: center;
  margin-bottom: 30px;
}

.card-list-reviews {
  gap: 25px;
  padding: 1rem;
  background: #2b2b2b46;
  border-bottom: 1px solid #0000005e;

  display: flex;
  align-items: center;
  overflow: hidden;
}

.text-reviews {
  font-size: 13px;
  line-height: 22px;
}
