
<mat-card class="dashboard-card" *ngIf="datos"  >
    <mat-card-header>
      <mat-card-title>
        {{datos.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <p><b>Descripción: </b>{{datos.description}}</p>
      <p><b>Precio: </b>{{datos.price | currency:'USD'}}</p>
      <p><b>Géneros: </b></p>
      <ul *ngIf="datos.categories">
         <li *ngFor="let item of datos.categories"> {{item.description}}</li>
      </ul>
    </mat-card-content>
  </mat-card>