<div class="content">
  <div *ngIf="data">
    <h2 mat-dialog-title>Order number {{ data.id }}</h2>

    <mat-dialog-content>
      <p>{{ data.created_at | date : "MMM d, y, h:mm a" }}</p>

      <p class="">
        Payment Method: {{ data.payment_method.provider }},
        {{ data.payment_method.type }}
      </p>
      <table
        mat-table
        [dataSource]="tableDataSource"
        class="mat-elevation-z8 my-2"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">
            {{ element.product.price | currency : "USD" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-dialog-content>

    <mat-dialog-actions class="d-flex justify-content-end px-4">
      <button mat-raised-button color="accent" [mat-dialog-close]="true">
        <mat-icon class="close-icon">info</mat-icon>
        More details
      </button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
        Close
      </button>
    </mat-dialog-actions>
  </div>
</div>
