#carouselExampleCaptions {
  cursor: pointer;
}

#carouselExampleCaptions img {
  border-radius: 1%;
}

@media screen and (min-width: 768px) {
  #carouselExampleCaptions img {
    height: 400px;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .stats-1 {
    margin-top: 3rem;
  }
}
