<h1>{{ isCreate ? "Create" : "Update" }}</h1>

<form
  [formGroup]="productForm"
  novalidate
  (ngSubmit)="isCreate ? createProduct() : updateProduct()"
>
  <input type="hidden" formControlName="id" />
  <input type="hidden" formControlName="id_user" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ titleForm }} Product</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              maxlength="50"
              placeholder="Name"
            />
            <mat-hint align="end"> / 50</mat-hint>
            <mat-error *ngIf="errorHandling('name', 'required')">
              Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('name', 'minlength')">
              Name must have <strong>3 characters</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea
              formControlName="description"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="6"
            ></textarea>
            <mat-hint align="end"> / 100</mat-hint>
            <mat-error *ngIf="errorHandling('description', 'required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Price</mat-label>
            <input
              matInput
              placeholder="Price"
              formControlName="price"
              type="number"
            />
            <mat-error *ngIf="errorHandling('price', 'required')">
              Price is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="col">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            placeholder="Quantity"
            formControlName="quantity"
            type="number"
          />
          <mat-error *ngIf="errorHandling('quantity', 'required')">
            Quantity is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="col" *ngIf="types">
          <mat-form-field class="full-width">
            <mat-select placeholder="Type" formControlName="id_type">
              <mat-option *ngFor="let t of types" [value]="t.id">
                {{ t.description }}
              </mat-option>
            </mat-select>
            <mat-error> Type is <strong>required</strong> </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="categories">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Categories"
              formControlName="categories"
              multiple
            >
              <mat-option *ngFor="let c of categories" [value]="c.id">
                {{ c.description }}
              </mat-option>
            </mat-select>
            <mat-error> Categories are <strong>required</strong> </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput hidden />
            <input type="file" (change)="getImages($event)" multiple />
            <mat-hint>
              Select at least 2 images, use panoramic format<span
                *ngIf="!isCreate"
                >, new images will overwrite existing ones</span
              ></mat-hint
            >
          </mat-form-field>

          <div *ngIf="images" class="mt-3 d-lg-flex d-md-flex">
            <div *ngFor="let image of images">
              <img
                height="100px"
                [src]="
                  isCreate ? image : 'data:image/jpeg;base64,' + image.image
                "
                style="border-radius: 5px; margin: 0.5rem"
              />
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
