.example-container {
  height: 100%;
}

.sidenav-container {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 38px;
}

main {
  padding: 1rem;
}

::ng-deep .mat-drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
