<h2 mat-dialog-title>Submit Review</h2>
<form [formGroup]="reviewForm" (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <!-- <input type="hidden" formControlName="id_user" /> -->

    <mat-form-field class="w-100">
      <mat-label>Feedback to the seller</mat-label>
      <input
        matInput
        formControlName="client_feedback"
        type="text"
        placeholder="Amazing product, thanks!"
        #client_feedback
      />
      <mat-hint align="end"> {{ client_feedback.value.length }} / 191</mat-hint>
    </mat-form-field>

    <mat-divider class="my-3"></mat-divider>

    <div class="d-block ms-2">
      <mat-label>Give the seller a rating!</mat-label>
      <br />
      <button
        mat-icon-button
        color="accent"
        *ngFor="let ratingId of ratingArr; index as i"
        [id]="'star_' + i"
        (click)="clickStar(i + 1)"
      >
        <mat-icon>
          {{ showIcon(i) }}
        </mat-icon>
      </button>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="d-flex justify-content-end px-4">
    <button mat-raised-button color="accent" type="submit">
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
      Close
    </button>
  </mat-dialog-actions>
</form>
