<section>
  <div class="head">
    <h1>My Orders</h1>

    <!-- <button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button> -->
  </div>
  <mat-divider style="margin: 10px 0"></mat-divider>

  <div *ngIf="dataSource.data.length === 0">
    <p>You don't have any orders yet.</p>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    (matSortChange)="announceSortChange($event)"
    *ngIf="dataSource.data.length > 0"
  >
    <ng-container matColumnDef="created_at">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by date"
      >
        Date
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.created_at | date : "MMM d, y, h:mm a" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detailsLength">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by items"
      >
        Items
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.detailsLength }}
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by total"
      >
        Total
      </th>
      <td mat-cell *matCellDef="let element">{{ element.total | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="payed">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by state"
      >
        State
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{ payed: element.payed, 'not-payed': !element.payed }"
      >
        {{ element.payed ? "Payed" : "Not Payed" }}
      </td>
    </ng-container>

    <!-- Actions column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-fab
          matTooltip="Delete Product"
          aria-label="Delete Product"
          color="primary"
          (click)="detail(element.id)"
        >
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
    *ngIf="dataSource.data.length > 0"
    color="accent"
  ></mat-paginator>
</section>
