@use "@angular/material" as mat;

@include mat.core();

//COLORES
$my-primary-color: (
  50: #ede6f2,
  100: #d1c0de,
  200: #b396c8,
  300: #946cb2,
  400: #7d4da2,
  500: #662d91,
  600: #5e2889,
  700: #53227e,
  800: #491c74,
  900: #381162,
  A100: #c598ff,
  A200: #a965ff,
  A400: #8c32ff,
  A700: #7e19ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
// $my-primary-color: (
//   50 : #e0f4ef,
//   100 : #b3e3d8,
//   200 : #80d1be,
//   300 : #4dbfa3,
//   400 : #26b190,
//   500 : #00a37c,
//   600 : #009b74,
//   700 : #009169,
//   800 : #00885f,
//   900 : #00774c,
//   A100 : #a5ffd9,
//   A200 : #72ffc3,
//   A400 : #3fffae,
//   A700 : #25ffa3,
//   contrast: (
//       50 : #000000,
//       100 : #000000,
//       200 : #000000,
//       300 : #000000,
//       400 : #000000,
//       500 : #ffffff,
//       600 : #ffffff,
//       700 : #ffffff,
//       800 : #ffffff,
//       900 : #ffffff,
//       A100 : #000000,
//       A200 : #000000,
//       A400 : #000000,
//       A700 : #000000,
//   )
// );
$my-accent-color: (
  50: #e0f4ef,
  100: #b3e3d8,
  200: #80d1be,
  300: #4dbfa3,
  400: #26b190,
  500: #00a37c,
  600: #009b74,
  700: #009169,
  800: #00885f,
  900: #00774c,
  A100: #a5ffd9,
  A200: #72ffc3,
  A400: #3fffae,
  A700: #25ffa3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-warn-color: (
  50: #ffebeb,
  100: #ffcdcd,
  200: #ffabab,
  300: #ff8989,
  400: #ff7070,
  500: #ff5757,
  600: #ff4f4f,
  700: #ff4646,
  800: #ff3c3c,
  900: #ff2c2c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd8d8,
  A700: #ffbebe,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

//PALETA
$my-primary: mat.define-palette($my-primary-color);
$my-accent: mat.define-palette($my-accent-color);
$my-warn: mat.define-palette($my-warn-color);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);
