<form [formGroup]="loginForm" novalidate>
  <div class="text-center w-50 mx-auto mt-5">
    <img
      src="../../../assets/logoVertical.svg"
      width="150"
      style="margin-bottom: 3vh"
    />

    <div class="w-100">
      <mat-form-field class="w-100" appearance="outline">
        <input
          matInput
          type="text"
          placeholder="Email"
          formControlName="email"
        />
        <mat-error *ngIf="errorHandling('email', 'required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="errorHandling('email', 'email')">
          Verify the email <strong>format</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            (keydown)="onPasswordKeyDown($event)"
            placeholder="Password"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="errorHandling('password', 'required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      (click)="submitForm()"
      class="bigger-button my-2"
    >
      Log In
    </button>

    <mat-divider class="my-3"></mat-divider>

    <p>
      Don't have an account?
      <button mat-stroked-button class="ms-2" routerLink="/signUp">
        Sign Up
      </button>
    </p>
  </div>
</form>
