.grid-container {
  margin: 10px;
}
/* .dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.dashboard-card-content {
  text-align: center;
} */

mat-card-title {
  margin: 0.5rem 1rem 0;
}

mat-card-content p {
  margin: 0.3rem 0 0 0;
  padding-bottom: 0.6rem;
}

.product {
  width: 95%;
  height: 95%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.product::-webkit-scrollbar {
  display: none;
}

.product img {
  /* width: 50px;
  height: 50px;
  max-width: 45%;
  max-height: 45%;
  border-radius: 15%; */
  width: 100%;
  height: 55%;
  object-fit: cover;
}
