<mat-chip-listbox aria-label="Categories selection" class="typeChips" multiple>
  <mat-chip-option *ngFor="let item of categories">{{
    item.description
  }}</mat-chip-option>
</mat-chip-listbox>

<mat-grid-list [cols]="gridCols" rowHeight="300px" gutterSize="10px">
  <mat-grid-tile *ngFor="let item of data">
    <mat-card class="product">
      <img
        mat-card-image
        [src]="'data:image/jpeg;base64,' + item.images[0].image"
        alt="photo"
      />
      <mat-card-title>{{ item.name }}</mat-card-title>

      <mat-card-content>
        <p>{{ item.price | currency : "USD" }}</p>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions style="gap: 0.5rem">
        <button mat-raised-button color="primary">
          <mat-icon>add_shopping_cart</mat-icon>
          Add to cart
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="productDetail(item.id)"
        >
          <mat-icon>info</mat-icon>
          Details
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
