<mat-list>
  <div class="logo">
    <img src="../../../assets/AnyMovieLogo.svg" alt="Logo AnyMovie" />
  </div>

  <mat-divider></mat-divider>

  <a
    mat-list-item
    routerLink="/home"
    routerLinkActive="list-item-active"
    *ngIf="isAuth && isClient"
  >
    <mat-icon>home</mat-icon>
    Home
  </a>

  <a
    mat-list-item
    routerLink="/reports/admin"
    routerLinkActive="list-item-active"
    *ngIf="isAuth && isAdmin"
  >
    <mat-icon>home</mat-icon>
    Reports
  </a>

  <a
    mat-list-item
    routerLink="/reports/seller"
    routerLinkActive="list-item-active"
    *ngIf="isAuth && isSeller"
  >
    <mat-icon>import_contacts</mat-icon>
    Reports
  </a>

  <a
    mat-list-item
    routerLink="/products"
    routerLinkActive="list-item-active"
    [matMenuTriggerFor]="menuM"
  >
    <mat-icon>movies</mat-icon>
    Products
  </a>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    [matMenuTriggerFor]="menuO"
    *ngIf="isAuth && !isAdmin"
  >
    <mat-icon>assignment_turned_in</mat-icon>
    Orders
  </a>

  <a
    mat-list-item
    routerLink="/users"
    routerLinkActive="list-item-active"
    *ngIf="isAuth && isAdmin"
  >
    <mat-icon>person_pin_circle</mat-icon>
    Users
  </a>

  <mat-menu #menuM="matMenu">
    <button mat-menu-item routerLink="/products">
      <mat-icon>apps</mat-icon>
      Grid
    </button>
    <button mat-menu-item (click)="productSeller(idUser)" *ngIf="isSeller">
      <mat-icon>edit</mat-icon>
      Maintenance
    </button>
  </mat-menu>

  <mat-menu #menuO="matMenu">
    <button mat-menu-item (click)="orderClient(idUser)" *ngIf="isClient">
      <mat-icon>movies</mat-icon>
      All Orders
    </button>
    <button mat-menu-item (click)="orderSeller(idUser)" *ngIf="isSeller">
      <mat-icon>movies</mat-icon>
      All Sales
    </button>
    <button mat-menu-item *ngIf="isClient">
      <mat-icon>edit</mat-icon>
      Review
    </button>
  </mat-menu>
</mat-list>
