<mat-list>
  <div class="logo">
    <img src="../../../assets/AnyMovieLogo.svg" alt="Logo AnyMovie" />
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>
    Home
  </a>

  <a
    mat-list-item
    routerLink="/products"
    routerLinkActive="list-item-active"
    [matMenuTriggerFor]="menuM"
  >
    <mat-icon>movies</mat-icon>
    Products
  </a>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    [matMenuTriggerFor]="menuO"
    *ngIf="isAuth && !isAdmin"
  >
    <mat-icon>assignment_turned_in</mat-icon>
    Orders
  </a>

  <a mat-list-item routerLink="" routerLinkActive="list-item-active">
    <mat-icon>person_pin_circle</mat-icon>
    Sellers
  </a>

  <a
    mat-list-item
    routerLink=""
    routerLinkActive="list-item-active"
    [matMenuTriggerFor]="menuR"
    *ngIf="isAuth && (isAdmin || isSeller)"
  >
    <mat-icon>import_contacts</mat-icon>
    Reports
  </a>

  <mat-menu #menuM="matMenu">
    <button mat-menu-item routerLink="/products">
      <mat-icon>apps</mat-icon>
      Grid
    </button>
    <button mat-menu-item (click)="productSeller(idUser)" *ngIf="isSeller">
      <mat-icon>edit</mat-icon>
      Maintenance
    </button>
  </mat-menu>

  <mat-menu #menuO="matMenu">
    <button mat-menu-item (click)="orderClient(idUser)" *ngIf="isClient">
      <mat-icon>movies</mat-icon>
      All Orders
    </button>
    <button mat-menu-item (click)="orderSeller(idUser)" *ngIf="isSeller">
      <mat-icon>movies</mat-icon>
      All Sales
    </button>
    <button mat-menu-item *ngIf="isClient">
      <mat-icon>edit</mat-icon>
      Review
    </button>
  </mat-menu>

  <mat-menu #menuR="matMenu">
    <!-- Admin -->
    <div *ngIf="isAdmin">
      <button mat-menu-item>
        <mat-icon>timeline</mat-icon>
        Sells by day
      </button>
      <button mat-menu-item>
        <mat-icon>bar_chart</mat-icon>
        Top 5 Products per month
      </button>
      <button mat-menu-item>
        <mat-icon>people_alt</mat-icon>
        Top 5 Sellers
      </button>
      <button mat-menu-item>
        <mat-icon>thumb_down_alt</mat-icon>
        Top 3 Worst Sellers
      </button>
    </div>
    <!-- Seller -->
    <div *ngIf="isSeller">
      <button mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        Most sold product
      </button>
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        Best Client
      </button>
      <button mat-menu-item>
        <mat-icon>star</mat-icon>
        Ratings Report
      </button>
    </div>
  </mat-menu>
</mat-list>
