mat-toolbar {
  background-color: #0000004d;
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 38px;
  height: 8vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.user {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-left: 1.2rem;
  height: 50px;
}

.user-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 10px;
}

.user .user-image-icon {
  order: 2;
}

.user span {
  order: 1;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .user .user-image-icon {
    margin-left: 0;
  }
}
