<mat-toolbar>
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="example-spacer"></div>

  <button mat-icon-button *ngIf="isAuth  && !isAdmin" [routerLink]="'orders/buy'" 
  [routerLinkActive]="'mat-raised-button'" >
    <mat-icon [matBadge]="qtyItems.toString()"  matBadgeColor="primary">shopping_cart</mat-icon>
  </button>

  <!-- <button mat-icon-button *ngIf="isAuth">
    <mat-icon matBadge="3" matBadgeColor="accent">notifications</mat-icon>
  </button>

  <button mat-icon-button *ngIf="isAuth">
    <mat-icon matBadge="5" matBadgeColor="warn">messages</mat-icon>
  </button> -->

  <button mat-button [matMenuTriggerFor]="menu" class="user" *ngIf="isAuth">
    <img
      [src]="
        currentUser.user.image != null
          ? 'data:image/jpeg;base64,' + currentUser.user.image
          : 'https://i.pinimg.com/474x/31/ec/2c/31ec2ce212492e600b8de27f38846ed7.jpg'
      "
      class="user-image me-2"
    />
    <span>{{ currentUser.user.name }}</span>
    <mat-icon class="user-image-icon me-1">keyboard_arrow_down</mat-icon>
  </button>

  <button mat-button routerLink="logIn" *ngIf="!isAuth">Log In</button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
