<section>
  <div class="head">
    <h1>My Products</h1>
    <button mat-mini-fab color="primary" routerLink="/products/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-divider style="margin: 10px 0"></mat-divider>

  <div *ngIf="dataSource.data.length === 0">
    <p>You don't have any products yet.</p>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    (matSortChange)="announceSortChange($event)"
    *ngIf="dataSource.data.length > 0"
  >
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="'data:image/jpeg;base64,' + element.images[0].image"
          alt="Product Image"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by price"
      >
        Price
      </th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    </ng-container>

    <!-- Actions column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-fab
          matTooltip="Edit Product"
          aria-label="Edit Product"
          color="primary"
          (click)="update(element.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-fab
          matTooltip="Delete Product"
          aria-label="Delete Product"
          color="accent"
          (click)="detail(element.id)"
        >
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
    *ngIf="dataSource.data.length > 0"
    color="accent"
  ></mat-paginator>
</section>
